*:not(.tag-pill, .img-circle) {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.nav-tabs {
	padding-left: 50px;
}

.card.selected {
	border-color: #0275d8;
}

/* MULTISEARCH */
.multisearch{
	margin-left: 0px !important;	
}

.multisearchContainer{
	position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    border: 1px solid #cccccc;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #ebebeb), color-stop(7%, #ffffff));
    background-image: -webkit-linear-gradient(#ebebeb 1%, #ffffff 7%);
    background-image: -moz-linear-gradient(#ebebeb 1%, #ffffff 7%);
    background-image: -o-linear-gradient(#ebebeb 1%, #ffffff 7%);
    background-image: linear-gradient(#ebebeb 1%, #ffffff 7%);
    cursor: text;	
    font-size: 13px;
    
	list-style-type: none;
	line-height: 2.2;
}

div.error .multisearchContainer{
	border: 1px solid #b94a48;
}


.multisearchContainer span{
	display: inline-block;
	background-color: #dddddd;
	padding: .1em .6em .3em;
	margin: .3em;
    font-size: 90%;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25em;
    font-weight: bold;
    height: 17px;
}

div.error .multisearchContainer span{
	color: #b94a48;
}

.multisearchContainer span.multisearchRemove{
	padding: .2em 0 .3em 0;
	margin-right: 0px;
	height: 10px;
	cursor: pointer;
}

.multisearchContainer input.placeholder{
	border:none;
	width:100%;
}

/* HOVER TOOLBAR */
.hoverToolbar{
	display: none;
	position: absolute;
	right: 0px;
}

.hoverToolbarParent:hover .hoverToolbar { 
	display: inline;
}
