<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="main">
		
		<div class="container-fluid">
			<div class="row" style="padding-top:100px;">
				<form id="sqlForm" data-parsley-validate="" data-parsley-ui-enabled="false" data-parsley-focus="none">
					<input type="hidden" class="csrfField"
							th:attr="name=${_csrf.parameterName}, value=${_csrf.token}"/>
					<div class="form-group col-xl-12">
					    <label for="scriptTextarea">Script</label>
						<textarea class="form-control" name="scriptTextarea" style="max-height:40vh;" data-parsley-required="true"></textarea>
					</div>
				</form>
				
				<div class="col-xs-12">
					<button id="submitForm" class="btn btn-primary col-xs-12 col-lg-1 pull-lg-right">
		  				Executar
					</button>
				</div>	
			</div>
			
			<div id="sqlResult" class="row">
					
			</div>
		</div>
		
	</th:block>
	
	<th:block th:fragment="message">
		<div class="col-xs-12" style="margin-top:20px">
			<p th:text="${message}"></p>
		</div>
	</th:block>
	
	<th:block th:fragment="resultset">
		<div class="col-xs-12" style="margin-top:20px">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th th:each="name : ${columnNames}" th:text="${name}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="elem,iterStat : ${dataset}">
						<th scope="row" th:text="${iterStat.count}"></th>
						<td th:each="name : ${columnNames}" th:text="${elem.get(name)}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>

</html>
