<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

	<th:block th:fragment="templatePopup">		
		<script type="text/x-handlebars-template" id="templatePopup">
			<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	    		<div class="modal-dialog">
	        		<div class="modal-content">
	            		<div class="modal-header">
	                		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                		<h4 class="modal-title">{{title}}</h4>
	            		</div>
						<div class="modal-header modal-msg-placeholder" style="display: none;">
							
	            		</div>
	            		<div class="modal-body"><div class="te"></div></div>
                		<div class="modal-footer">
       						<button id="doneAction" type="button" class="btn btn-primary">{{doneActionTitle}}</button>
       						<button id="cancelAction" type="button" class="btn btn-danger" data-dismiss="modal">{{cancelActionTitle}}</button>
	            		</div>
	        		</div>
	    		</div>
			</div>
		</script>
	</th:block>
	
	<th:block th:fragment="templateErrorPopup">		
		<script type="text/x-handlebars-template" id="templateErrorPopup">
			<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	    		<div class="modal-dialog">
	        		<div class="modal-content">
	            		<div class="modal-header">
	                		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                	<h4 class="modal-title">{{title}}</h4>
		            	</div>
	    	        	<div class="modal-body">
							<div class="row-fluid">
								<div class="span1 text-right">
									{{errorCode}}
								</div>
								<div class="span8">{{errorMessage}}</div>
							</div>
						</div>
        	        	<div class="modal-footer">
       						<button id="closeAction" type="button" class="btn btn-primary">Tancar</button>       					
	            		</div>
	        		</div>
	    		</div>
			</div>
		</script>
	</th:block>
	
	<th:block th:fragment="templateProgressPopup">		
		<script type="text/x-handlebars-template" id="templateProgressPopup">
			<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	    		<div class="modal-dialog">
	        		<div class="modal-content">
						<div class="modal-body">
							<div class="text-xs-center" id="progressCaption">0%</div>
							<progress class="progress" value="0" max="100" aria-describedby="progressCaption"></progress>
						</div>   
						<div class="modal-footer" style="display: none;">
       						<button id="dismissAction" type="button" class="btn btn-primary">Tancar</button>
	            		</div>         	
	        		</div>
	    		</div>
			</div>
		</script>
	</th:block>
	
	<th:block th:fragment="multisearch (name)">
		<div th:attr="id='multisearch_' + ${name}">
			<div class="form-control multisearchContainer span11">
				<input class="placeholder" placeholder="Cercar..."/>
			</div>
			<!--/* Placeholder pel selector de dates */-->
			<div class="datepickerPlaceholder form-control" style="display:none; position:relative"></div>
			<ul th:attr="id='multisearch_' + ${name} + '_options'" class="dropdown-menu extended multisearch">
				<div class="notify-arrow notify-arrow-green"></div>
				<li>
					<p class="green">Filtres disponibles</p>
				</li>
				
			</ul>
		</div>
	</th:block>
	
	<th:block th:fragment="multisearchActiveFilters (name)">
		<div th:attr="id='multisearch_' + ${name} + '_active_filters'" class="row-fluid">
			<!--/* Iteració sobre la llista seleccionada a través de th:object */-->
			<div th:each="param:${#object}" class="multisearchFilter"
					th:attr="data-type=${param.type}, data-command=${param.command}, data-value=${param.value}" 
					style="border:1px solid #cccccc; border-radius:0.25rem; background:#f2f2f2; margin:0px 5px 0px 5px; padding:5px 0px 5px 5px; display:inline">
				<th:block th:text="${param.command + ':' + param.value}"></th:block>
				<button class="btn btn-link btn-sm">
					<i class="fa fa-times"></i>
				</button>
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateMultisearch">		
		<script type="text/x-handlebars-template" id="templateMultisearchCommand">
			<li class="commandDescriptor" style="cursor:pointer">
				<a data-type="{{type}}" data-command="{{command}}" data-url="{{url}}"> 
					<span class="command"> 
						<span class="name">:{{command}}</span> 
						<span class="type">{{typeDesc}}</span>
					</span> 
					<span class="description">{{description}}</span>
				</a>
			</li>
		</script>

		<script type="text/x-handlebars-template" id="templateMultisearchFilter">
				<div class="multisearchFilter" data-type="{{type}}" data-command="{{command}}" data-value="{{value}}" 
						style="border:1px solid #cccccc; border-radius:0.25rem; padding-left:5px; background:#f2f2f2; margin:0px 5px 0px 5px; padding:5px 0px 5px 5px; display:inline">
					{{command}}: {{value}}
					<button class="btn btn-link btn-sm">
						<i class="fa fa-times"></i>
					</button>
				</div>
		</script>
	</th:block>
	
</body>
</html>